@page "/Jugadores/Index"

@inject JugadoresServicios jugadoresServices
@inject NavigationManager navigationManager
@using RegistroJugadores.Models;
@rendermode InteractiveServer

<PageTitle>Registro de Jugadores de Tic Tac Toe</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">Index de Jugadores</h5>
            <a href="/Jugadores/Create" class="btn btn-primary"><span class="bi bi-plus-square"></span>Crear</a>
        </div>
        <div class="card-body">
            @*Search and filter*@
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Filtro:</label>
                    <InputSelect class="form-select" @bind-value="Filtro" @onchange="AplicarFiltro">
                        <option value="">Seleccione un filtro</option>
                        <option value="Mayor">Mayor a Menor</option>
                        <option value="Menor">Menor a Mayor</option>
                       
                    </InputSelect>
                     <button class="btn btn-outline-secondary" @onclick="AplicarFiltro"> Aplicar Filtro</button>
                </div>
                <div class="col-md-6">
                    <label>Buscar:</label>
                    <div class="input-group">
                        <input class="form-control" @bind="ValorFiltro" placeholder="Buscar"/>
                        <button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar">
                            <i class="bi bi-search"></i>Buscar
                        </button>
                    </div>
                </div>
            </div>
            @*here *@
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Partidas</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var jugador in ListaJugadores)
                    {
                        <tr>
                            <td>@jugador.JugadorId</td>
                            <td>@jugador.Nombres</td>
                            <td>@jugador.Victorias</td>
                            <td>
                                <a href="/Jugadores/Edit/@jugador.JugadorId" class="btn btn-sm btn-warning">
                                    Editar <i class="bi bi-pencil"></i>
                                </a>
                                <button class="btn btn-sm btn-danger" @onclick="()=>EliminarJugador(jugador.JugadorId)">
                                    Eliminar <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code{
    public List<Jugadores> ListaJugadores { get; set; } = new List<Jugadores>();
    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ListaJugadores=await jugadoresServices.GetList(j=>j.JugadorId>0);
    }
    
   
    private async Task AplicarFiltro()
    {
      
        var jugadores = await jugadoresServices.GetList(j => true);
        
        if (Filtro == "Mayor")
        {
            ListaJugadores = await jugadoresServices.JugadoresMayorAMenor();
        }
        else if (Filtro == "Menor")
        {
            ListaJugadores = await jugadoresServices.JugadoresMenorAMayor();
        }
        else
        {
   

          
            ListaJugadores = jugadores;
        }
    }

    private async Task Buscar(){

    var jugadores=await jugadoresServices.GetList(j=>true);

    if(!string.IsNullOrWhiteSpace(ValorFiltro)){
    jugadores = jugadores.Where(j => j.Nombres!.ToLower().Contains(ValorFiltro.ToLower())).ToList();
    }
    ListaJugadores=jugadores;
    }
    
    private async Task EliminarJugador(int JugadorId)
    {
        var eliminado = await jugadoresServices.Eliminar(JugadorId);

        if (eliminado)
        {
           
            ListaJugadores=await jugadoresServices.GetList(j=>j.JugadorId>0);
        }
    }
}
    
    
